.dockerignore
/api-gateway/node_modules
/api-gateway/.env
/api-gateway/.dockerignore
/auth-service/node_modules
/auth-service/.env
/auth-service/.dockerignore
/notification-service/node_modules
/notification-service/.env
/notification-service/.dockerignore
/user-service/node_modules
/user-service/.dockerignore
/product-catalog-service/.env
/product-catalog-service/.dockerignore
/product-catalog-service/node_modules
/cart-service/node_modules
/cart-service/.env
/cart-service/.dockerignore
/order-service/node_modules
/order-service/.env
/order-service/.dockerignore
/payment-service/node_modules
/payment-service/.env
/payment-service/.dockerignore
/shippment-service/node_modules
/shippment-service/.env
/shippment-service/.dockerignore
