.dockerignore
/api-gateway/node_modules
/api-gateway/.env
/api-gateway/.dockerignore
/auth-service/node_modules
/auth-service/.env
/auth-service/.dockerignore
/notification-service/node_modules
/notification-service/.env
/notification-service/.dockerignore
/shared/node_modules
/shared/.env
/user-service/node_modules
