services:
  payment-service:
    build: 
      context: .
      args:
        - NODE_ENV=production
      target: production
    environment:
      - NODE_ENV=production
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - PORT=3006
      - REDIS_URL=${REDIS_URL}
      - POSTGRES_IP=${POSTGRES_IP}
    command: ["npm", "run", "start"]

  payment-db:
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
